<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Lista de Alunos</title>
</head>
<body>
    <h1>Nossos Alunos</h1>

    <a href="{% url 'cadastrar_aluno' %}">Cadastrar Novo Aluno</a>
    <hr>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}
                <tr>
                    <td>{{ aluno.nome }}</td>
                    <td>{{ aluno.email }}</td>
                    <td>
                        <a href="{% url 'editar_aluno' pk=aluno.pk %}">Editar</a>
                        <a href="{% url 'excluir_aluno' pk=aluno.pk %}">Excluir</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Nenhum aluno cadastrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
